*{
    margin:0;
    padding:0
}

body{
    background:  rgba(82,82,205,1)
}

canvas{
    background: linear-gradient(180deg, rgba(82,82,205,1) 0%, rgba(0,212,255,1) 71%);
}

#mobileControls{
    
    position:absolute;
    width:calc(100%);
    bottom: 3em;
    display:none;
    grid-template-columns: auto auto;
}
#mobileControls button{
    height:3em;
}

.trans-box{
    background: rgba(0,0,0,.8);
    color:white
}